<mat-card>
  <button mat-button>Basic Material Button</button>
  <button mat-button color="primary">Basic Material Button</button>
  <button mat-button color="accent">Basic Material Button</button>
  <button mat-button color="warn">Basic Material Button</button>
  <button mat-raised-button >Basic Material Button</button>
</mat-card>
<br>
<p>
  Button with a badge on the left
  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>
<br>


